/* CodeYard's addition to tachyons */

/* CodeYard widths */

.mw10 { max-width: 71rem; }
.cmw1 { max-width: 20rem; }
.cw2 { width: 1rem; }

.w-85 { width: 85%; }

/* margin */

.ml4 { margin-left: 4rem;}

.mb01 { margin-bottom: 0.1rem; }

/* typography */



/* WEBSITE SPECIFIC */

/* CodeYard Height | ch */

.ch1 { height: 6.875rem; }
.ch2 { height: 1.375rem; }
.ch3 { height: 3.125rem; }

/* CodeYard Margin */

.cmt1 { margin-top: 12rem; }
.cmt2 { margin-top: 8rem; }



/* CodeYard's addition to the -ns media query */
@media screen and (min-width: 30em) {
    .cmt1-ns { margin-top: 12rem; }
}


/* CodeYard's addition to the -m media query */
@media screen and (min-width: 30em) and (max-width: 60em) {
}


/* CodeYard's addition to the -l media query */
@media screen and (min-width: 60em) {
    .ch1-l { height: 6.875rem; }
    .cw2-l { width: 1.375rem; }
    .cmt1-l { margin-top: 12rem; }
    .w-85-l { width: 85%; }
}