/* GLOBAL STYLING */

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: Poppins;
    color: white;
}

html {
    background: #151524;
}

a {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

header {
    background: #151524;
}